<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\HP\OneDrive\Pictures\Temp\MyFirstDeskTopApp\MyFirstDeskTopApp\demo.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>